body{
    padding:25px;
}

h1{
    text-align: center;
    font-size: 20px;
}

.taskName {
    margin-left: 30px;
}

.hidden {
    visibility: hidden;
}

#titleLogin{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}

#loginPageOptions{
    font-style: italic;
    text-align: center;
}

#login{
    padding-right: 15px;
}

#header{
    display: flex;
    justify-content: space-between;
}

#image {
    width : 100px;
    height : 100px;
}
#title {
    float :right;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 70px;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    align-self: center;
    color: #654321;
}

#bigContainer{
    display: flex
}

#friends {
    padding: 5px;
    width :30%;
    border: black 1px solid;
    height : 100%;
}

#tabContainer{
    margin-left: 5px;
    width : 66%;
    float: right;
    height : 70%;
    padding: 10px;
    border: black 1px solid;
}

#navBar{
text-align: right;
font-size: 25px;
font-style: italic;
}

.navTab {
    margin-right: 15px;
    color: burlywood;
}

.friendItem{
    font-style: italic;
    background-color: cornsilk;
}

.friendItem > button {
    visibility: hidden;
}

.oldestEvent{
    font-weight: bold;
    background-color: lightblue;
}

#bigButton {
    background-image: url(../images/acorn.png);
    background-repeat: no-repeat;
    background-size: 96px, 149px;
    height: 149px;
    width: 96px;
    border: none;
    padding-top: 40px;
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

#logout {
    color: burlywood;
    margin-right: 20px;
}

#friends,
#searchUsers,
#tabContainer {
    border-radius: 10px;
    border: 2px solid #654321;
}

#addNews {
    margin-top: 10px;
}

.profileCard{
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px 25px;
    margin: 25px 5px;
    box-shadow: 5px 10px 18px #888888;

}